@font-face {
    font-family: "Metropolis";
    src: url("/fonts/Metropolis-Regular.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Metropolis";
    src: url("/fonts/Metropolis-ExtraBold.woff2");
    font-style: normal;
    font-weight: 800;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Metropolis, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #E5E5E5;
    color: #001C3C;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
