.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoAndDescription {
    display: flex;
    flex-direction: column;
}

.profilePhoto {
    height: 55vw;
    width: 55vw;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    line-height: .8;
    font-size: 18vw;
}

.lastName {
    text-align: right;
}

.description {
    line-height: 1;
    text-align: center;
    font-size: 4vw;
    margin: 0;
}

.socials {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.socials img {
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (min-width: 800px) {
    .profilePhoto {
        height: 40vw;
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    .main {
        align-items: stretch;
        width: 70%;
    }

    .photoAndDescription {
        margin-top: 20px;
        flex-direction: row;
    }

    .description {
        font-size: 2vw;
        text-align: left;
    }

    .title {
        font-size: 13vw;
    }

    .profilePhoto {
        margin-right: 30px;
        height: 25vw;
        width: 25vw;
        margin-bottom: 0;
    }

    .descriptionWrapper {
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
